/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: 'PT Sans', sans-serif;
}

.border {
    border: 2px dashed black;
}

section {
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #0085FD;
}

.navbar {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Section */

.bg-white {
    background-color: #ffffff;
}

.bg-violet {
    background-color: #9792E3;
}


/* Row */

.row {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.col {
    flex-basis: calc(100% / 3);
    border: 1px dashed black;

    padding: 10px;
}

.large-col {
    flex-basis: calc(100% / 3 * 2);

}

.card {
    min-height: 350px;
    background-color: #B4DDFF;
    border-radius: 20px;

    padding: 24px;
}



/* Footer */

footer {
    background-color: #333333;
}

.footer-top {
    height: 150px;
}

.footer-bottom {
    height: 150px;
}



@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin: 0 auto;
    }

}
