/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

/* .border {
    border: 2px dashed black;
} */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.smaller-container {
    max-width: 800px;
    margin: 0 auto;
}

.text-box {
    text-align: center;
}

.fa-solid {
    font-size: 68px;
    text-align: center;
    color: #0085FD;
}

.text-center {
    text-align: center;
}



/* Buttons */

.button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 12px;

    border-radius: 20px;
}

.white-button {
    background-color: #ffffff;
    color: #000000;
}

.blue-button {
    background-color: #0085FD;
    color: #ffffff;
    padding: 7px 30px;
}

/* Text */

#intro h3 {
    color: #0085FD;
}

.text-white {
    color: #ffffff;
}

#intro p {
    color: #688194;
    font-weight: bold;
}

.text-black {
    color: #000000;
}

.text-purple {
    color: #9792E3;
}

h4 {
    font-size: 32px;
}

.uppercase {
    text-transform: uppercase;
}

/* Margin */


.mtb-20 {
    margin: 20px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mbt-100 {
    margin: 100px 0;
}

.mt-40 {
    margin-top: 40px;
}

.mt-150 {
    margin-top: 150px;
}

/* Header */

header {
    background-color: #0085FD;
    color: #ffffff;
}

.navbar {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 70%;
    padding-left: 15px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar li {
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/* Section colors */

.bg-white {
    background-color: #ffffff;
}

.bg-violet {
    background-color: #9792E3;
}


/* Row */

.row {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.row > * {
    border: 1px dashed black;
    padding: 10px;  

}

.col {
    flex-basis: calc(100% / 3);
}

.colx2 {
    flex-basis: calc(100% / 3 * 2);

}

.card {
    /* min-height: 350px; */
    border-radius: 20px;

    padding: 24px;

}

.white-card {
    background-color: #ffffff;
}

.col50 {
    width: calc(100% / 2);

}

.card-flex {
    display: flex;
    padding-bottom: 0;
}

.card-flex > img {
    width: 50%;

    margin-top: 30px;
}

/* Intro */

#intro .card {
    background-color: #B4DDFF;

    height: 100%;
}

/* Planning */

#planning img {
    width: 90%;
    margin-bottom: 70px;
}

#planning .img50 {
    width: 60%;
}

#planning .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    vertical-align: middle;

    margin: 0 auto;
    margin-top: 20px;

    background-color:#9792E3;

}


/* Testimonials Section */

.col-container {
    display: flex;

    margin: 30px 0;

    border-radius: 20px;

    background-color: #9792E3;

}

.small-col {
    flex-basis: 20%;
}

.large-col {
    flex-basis: 80%;
}

#testimonials p, span {
    font-size: 15px;
}

#testimonials .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 150%;

    margin: 25px 10px;

}

#man1 { 
    background-image: url(../img/testimonial1.jpg);
}

#woman1 { 
    background-image: url(../img/testimonial2.jpg);
}

#man2 {
    background-image: url(../img/testimonial3.jpg);
}

#testimonials .card-text {
    align-self: center;
}

#testimonials .fa-solid, span, p {
    font-size: 14px;
    color: #ffffff;
    
}



/* 30% width section */

.w30-container {
    width: 30%;
    margin: 0 auto;

}


/* Footer */

footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-top {
    /* height: 150px; */

    padding-top: 20px;

}

.footer-bottom {
    /* height: 150px; */

    padding: 20px 0;
}


@media screen and (max-width: 768px) {

    .navbar-menu {
        display: none;
    }

    nav:after {
        display: inline-block;
        font: var(--fa-font-solid);
        content: "\f0c9";
    }

    .card-flex {
        display: block;
    }


    #planning .col50 {
        width: 100%;
    }

    #benefits .col {
        flex-basis: calc(100% / 2);
    }

}


@media screen and (max-width: 480px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
    }

    .col, .col50 {
        width: 100%;
        margin: 0 auto;
    }

    #planning .card {
        width: 100%;
    }

   #testimonials .col-container {
    flex-wrap: wrap;
    text-align: center;
   }

    .w30-container {
        width: 90%;
        margin: 0 auto;
    }


}
