/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: 'PT Sans', sans-serif;
}

.border {
    border: 2px dashed black;
}

section {
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.smaller-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #0085FD;
}

.navbar {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Section colors */

.bg-white {
    background-color: #ffffff;
}

.bg-violet {
    background-color: #9792E3;
}


/* Row */

.row {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.row > * {
    border: 1px dashed black;
    padding: 10px;  

}

.col {
    flex-basis: calc(100% / 3);
}

.colx2 {
    flex-basis: calc(100% / 3 * 2);

}

.card {
    min-height: 350px;
    background-color: #B4DDFF;
    border-radius: 20px;

    padding: 24px;

}

/* Section 2 column */

.col50 {
    width: calc(100% / 2);

}

.col50 .card {
    min-height: 100vh;
}

/* Testimonials Section */

.text-box {
    background-color: pink;
    min-height: 200px;
    text-align: center;
}

.card-container {
    display: flex;
    min-height: 200px;

    padding: 15px 0;

}

.small-col {
    flex-basis: 20%;
    background-color: #B4DDFF;
}

.large-col {
    flex-basis: 80%;
    background-color: #9792E3;
}


/* Footer */

footer {
    background-color: #333333;
}

.footer-top {
    height: 150px;
}

.footer-bottom {
    height: 150px;
}



@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin: 0 auto;
    }

}
